<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="2">
    <tr>
        <td>Doctor Name</td>
        <td>Unpaid Appointments</td>
        <td>Total unpaid Amount</td>
        <td>Payment Method</td>
        <td>Appointment Ids</td>
    </tr>
    {% for doctor,details in doctors.items %}
        <tr>
            <td>{{doctor.name}}</td>
            <td>{{details.appointments}}</td>
            <td>{{details.fees}}</td>
            <td>{{doctor.payment_method}}</td>
            <td>{{details.ids}}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>