<!DOCTYPE html>
<html lang="en-US">
{% load static %}

<head>
    {% load static %}
    <title>Sign Up | PDOC Health</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google" content="notranslate">
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    <link rel="shortcut icon" href="{% static 'index/site_images/logo-sqr.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/connectycube@x.x.x/dist/connectycube.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body class="plusBG pt-5 mt-5">

    <!-- loader -->
    <div id="overlay">
        <div id="progstat"></div>
        <div id="progress"></div>
    </div>
    <script>
        // loader
        ;
        (function () {
            function id(v) {
                return document.getElementById(v);
            }

            function loadbar() {
                var ovrl = id("overlay"),
                    prog = id("progress"),
                    stat = id("progstat"),
                    img = document.images,
                    c = 0;
                tot = img.length;

                function imgLoaded() {
                    c += 1;
                    var perc = ((100 / tot * c) << 0) + "%";
                    prog.style.width = perc;
                    stat.innerHTML = "Loading " + perc;
                    if (c === tot) return doneLoading();
                }

                function doneLoading() {
                    ovrl.style.opacity = 0;
                    setTimeout(function () {
                        ovrl.style.display = "none";
                    }, 1200);
                }
                for (var i = 0; i < tot; i++) {
                    var tImg = new Image();
                    tImg.onload = imgLoaded;
                    tImg.onerror = imgLoaded;
                    tImg.src = img[i].src;
                }
            }
            document.addEventListener('DOMContentLoaded', loadbar, false);
        }());
    </script>
    <!-- header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-bark fixed-top scrld def-scrl">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'index/site_images/logo.png' %}" height="40" alt="pdochealth"> <a
                    href="{% url 'index' %}" class="d-sm-none d-md-block">PDOCHEALTH</a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'doctors' %}">Doctors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'physical_consultation' %}">Physical Consultation</a>
                    </li>
                    <li class="nav-item">
                        <!--            <a class="nav-link" href="{% url 'blog_list' %}">Articles</a>-->
                        <!--          </li>-->
                        <!--          <li class="nav-item">-->
                        <!--            <a class="nav-link" href="{% url 'important_links' %}">Important Links</a>-->
                        <!--          </li>-->
                    <li class="nav-item dropdown dmenu">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            More
                        </a>
                        <div class="dropdown-menu sm-menu">
                            <a class="dropdown-item" href="{% url 'blog_list' %}">Articles</a>
                            <a class="dropdown-item" href="{% url 'important_links' %}">Important Links</a>
                            <a class="dropdown-item" href="{% url 'product_item' name='oxygize' %}">Shop</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link pl-md-3 pl-sm-0" href="{% url 'doctor_registration' %}"><i
                                class="fa fa-stethoscope"></i> &nbsp;Join
                            Us</a>
                    </li>
                    <li class="nav-item pl-md-5 pl-sm-0 pr-md-5 pr-sm-0">
                        {% if logout %}
                        <a class="nav-link pc-btn pl-4 pr-4" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                        <a class="nav-link pc-btn pl-4 pr-4" href="{% url 'signup_customer' %}">Patient Corner</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container margin-bottom-100px">
        <!--======= log_in_page =======-->
        <div id="log-in" class="site-form log-in-form box-shadow border-radius-10">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Paramedic Signup
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'paramedic_health_and_fitness_advisor' %}">Health & Fitness
                    Advisors </a>
                <a class="dropdown-item" href="{% url 'paramedic_physiotherapy' %}">Physiotherapist</a>
                <a class="dropdown-item" href="{% url 'paramedic_clinical_pscyhiatry' %}">Clinical Psychiatry</a>
                <a class="dropdown-item" href="{% url 'paramedic_yoga_guru' %}">Yoga Guru</a>
                <a class="dropdown-item" href="{% url 'paramedic_drug_house' %}">Drug House</a>
                <a class="dropdown-item" href="{% url 'paramedic_diagnostics' %}">Diagnostics</a>
                <!--          <div class="dropdown-divider"></div>-->
                <!--          <a class="dropdown-item" href="#">Something else here</a>-->
            </div>
            <h1 class="font-weight-300">Yoga Guru</h1>
            <div class="form-output">

                <div class="form-group label-floating">
                    <label class="control-label" for="name">Your Name</label>
                    <input class="form-control" placeholder="Your Name " id="name" type="text">
                </div>

                <div class="form-group label-floating">
                    <label class="control-label" for="qualifications">Qualification</label>
                    <input class="form-control" placeholder="Your qualifications" id="qualifications" type="text">
                </div>

                <div class="form-group label-floating">
                    <label class="control-label" for="organization">Organization</label>
                    <input class="form-control" placeholder="The organization you are associated with" id="organization"
                        type="text">
                </div>

                <div class="form-group label-floating">
                    <label class="control-label" for="location">Address</label>
                    <textarea class="form-control" placeholder="Address" id="location"></textarea>
                </div>

                <div class="form-group label-floating">
                    <label class="control-label" for="phone">Phone</label>
                    <input class="form-control" placeholder="Mobile" type="text" id="phone">
                    <p>Don't worry , your phone number will not be made public.</p>
                </div>

                <br>
                <h5>Availability</h5>
                <div class="form-group label-floating">
                    <label class="control-label" for="from">From</label>
                    <input class="form-control" type="time" id="from">
                </div>

                <div class="form-group label-floating">
                    <label class="control-label" for="to">To</label>
                    <input class="form-control" type="time" id="to">
                </div>

                <div class="form-group label-floating">
                    <label class="control-label" for="achievements">Achievements</label>
                    <input class="form-control" placeholder="Your achievements in the field" type="text"
                        id="achievements">
                </div>

                <div class="form-group label-floating">
                    <label class="control-label" for="about">About</label>
                    <textarea class="form-control" placeholder="Describe a bit about you and your profession"
                        id="about"></textarea>
                </div>
                <!--                    <div class="form-group label-floating is-select">-->
                <!--                        <label class="control-label">Your Gender</label>-->
                <!--                        <select class="selectpicker form-control">-->
                <!--						<option value="MA">Male</option>-->
                <!--						<option value="FE">Female</option>-->
                <!--					</select>-->
            </div>

            <button class="btn btn-md btn-primary w-100 mb-5" id="submit">Submit</button>


            <!--                    <a href="#" class="btn btn-md bg-facebook full-width btn-icon-left"><i class="fab fa-facebook margin-right-8px" aria-hidden="true"></i> Login with Facebook</a>-->

            <!--                    <a href="#" class="btn btn-md bg-twitter full-width btn-icon-left"><i class="fab fa-twitter margin-right-8px" aria-hidden="true"></i> Login with Twitter</a>-->


            <!--                    <p>you have an account? <a href="page-login.html"> Sing in !</a> </p>-->

        </div>
    </div>

    <footer id="dk-footer overflow-hid" class="dk-footer pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3 col-sm-12 text-center my-auto">
                    <img style="width: 80%;" src="{% static 'index/site_images/logo.png' %}" alt="{{alt.footer_logo}}"
                        srcset="">
                </div>
                <div class="col-12 col-md-5 col-sm-12 p-2  text-center my-auto">
                    <p style="color: rgb(151, 151, 151); text-align: justify;">
                        PDoc is a revolution coming up in the
                        Indian Healthcare sector. We are thriving
                        to bring technology to build robust solutions
                        in the domain. In this Pandemic we introduce
                        our emergency telecalling service 'Doctor-Over-Call'
                        keeping our promise of bringing the right answers
                        to your health needs.</p>
                </div>
                <div class="col-12 col-md-4 col-sm-12  text-center my-auto">
                    <h2 style="color: white;">Follow Us:</h2>
                    <a class="footico footico-f" href="https://www.facebook.com/pdochealth/"><i
                            class="fa fa-facebook "></i></a>
                    <a class="footico footico-i" href="https://www.instagram.com/pdochealth/"><i
                            class="fa fa-instagram "></i></a>
                    <!--          <a class="footico footico-l" href="#"><i class="fa fa-linkedin "></i></a>-->
                    <a class="footico footico-t" href="https://twitter.com/edocmed1"><i class="fa fa-twitter "></i></a>
                </div>
            </div>
            <hr style="background-color: rgba(139, 139, 139, 0.301);">
            <div class="row pt-2 text-center">
                <div class="col-12 col-md-11 col-sm-12 my-auto text-md-left text-sm-center">
                    <p style="color: rgb(151, 151, 151);">
                        Designed and Developed By &nbsp;<strong><a style="color: rgba(255, 255, 255, 0.582);"
                                href="www.cavemendev.com"> CaveMenDev</a></strong>
                    </p>
                </div>
                <div class="col-6 col-md-1 col-sm-6 text-center my-auto mx-auto mb-5">
                    <a href="www.cavemendev.com"> <img style="width: 100%;"
                            src="{% static 'index/site_images/cmd.png' %}" alt=""></a>
                </div>
            </div>
        </div>
        <div class="copyright pt-3 pb-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span>© 2020 PDOC Health | All Right Reserved.</span>
                    </div>
                    <div class="col-md-8 d-sm-none d-md-block">
                        <div class="copyright-menu">
                            <ul>
                                <li><a href="{% url 'terms' %}">Terms & Conditions</a></li>
                                <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                                <li><a href="{% url 'refund_policy' %}">Refund Policy</a>/li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Back to top -->
        <div id="back-to-top" class="back-to-top">
            <button class="btn btn-dark" title="Back to Top" style="display: block;" onclick="topFunction()">
                <i class="fa fa-angle-up"></i>
            </button>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{% static 'index/script.js' %}"></script>
    <script>
        $("#submit").on("click", function () {
            name = $("#name").val();
            achievements = $("#achievements").val();
            qualifications = $("#qualifications").val();
            organization = $("#organization").val();
            phone = $("#phone").val();
            from = $("#from").val();
            to = $("#to").val();
            location1 = $("textarea#location").val();
            about = $("textarea#about").val();
            location1 = $("textarea#location").val();
            status = "true";
            if (name == "") {
                $("#name").css("border-color", "red");
                status = "false";
            }
            if (achievements == "") {
                $("#achievements").css("border-color", "red");
                status = "false";
            }
            if (phone == "") {
                $("#phone").css("border-color", "red");
                status = "false";
            }
            if (qualifications == "") {
                $("#qualifications").css("border-color", "red");
                status = "false";
            }
            if (organization == "") {
                $("#organization").css("border-color", "red");
                status = "false";
            }
            if (from == "") {
                $("#from").css("border-color", "red");
                status = "false";
            }
            if (to == "") {
                $("#to").css("border-color", "red");
                status = "false";
            }
            if (about == "") {
                $("textarea#about").css("border-color", "red");
                status = "false";
            }
            if (location1 == "") {
                $("textarea#location").css("border-color", "red");
                status = "false";
            }
            if (status == "true") {
                $.ajax({
                    url: "{% url 'paramedic_yoga_guru_action' %}",
                    type: "GET",
                    data: {
                        "name": name,
                        "qualifications": qualifications,
                        "organization": organization,
                        "achievements": achievements,
                        "phone": phone,
                        "from": from,
                        "to": to,
                        "location": location1,
                        "about": about,
                    },
                    dataType: "json",
                    success: function (html) {
                        alert(
                            'Thank you for joining us. Our team will get in touch with you very soon');
                        location.reload();
                        $("#name").val("");
                        $("#qualifications").val("");
                        $("#achievements").val("");
                        $("textarea#about").val("");
                        $("#phone").val("");
                        $("#from").val("");
                        $("#to").val("");
                        $("textarea#location").val("");
                    }
                });
            }
        });
    </script>
</body>

</html>
