<!DOCTYPE html>
<html lang="en-US">
{% load static %}
{% load string_ops %}
{% include 'head.html' %}
<body>
    {% include 'navigation.html' %}
    <div id="page-title" class="padding-tb-30px gradient-white">
        <div class="container">
            <ol class="breadcrumb opacity-5">
                <li><a href="#">Home</a></li>
                <li><a href="#">Articles</a></li>
<!--                <li class="active">List Blog</li>-->
            </ol>
            <h1 class="font-weight-300">Articles</h1>
        </div>
    </div>


    <div class="margin-tb-30px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% for article in articles  %}
                    <div class="blog-entry background-white border-1 border-grey-1 margin-bottom-35px">
                        <div class="row no-gutters">
                            <div class="img-in col-lg-5" ><a href="{% url 'blog_single' slug=article.slug %}"><img src="{{article.image.url}}" class="card-img" style="max-height: 100%;object-fit: cover;" alt="{{article.title}}"></a></div>
                            <div class="col-lg-7">
                                <div class="padding-25px">
                                    <a class="d-block h4  text-capitalize margin-bottom-8px" href="{% url 'blog_single' slug=article.slug %}">{{article.title}} </a>
                                    <div class="meta">
                                        <span class="margin-right-20px text-extra-small">By : <a href="#" class="text-main-color">{{article.author}}</a></span>
                                        <span class="margin-right-20px text-extra-small">Date :  <a href="#" class="text-main-color">{{article.datetime}}</a></span>
                                        <span class="margin-right-20px text-extra-small"><p>{{article.article|slice:300|safe}}</p><a href="{% url 'blog_single' slug=article.slug %}" class="text-main-color">read more</a></span>
<!--                                        <span class="text-extra-small">Category :  <a href="#" class="text-main-color">{{article.category}}</a></span>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {% endfor %}

                    <div class="row"></div>
<!--                    <ul class="pagination pagination-md ">-->
<!--                        <li class="page-item disabled"><a class="page-link rounded-0" href="#" tabindex="-1">Previous</a></li>-->
<!--                        <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--                        <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                        <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                        <li class="page-item"><a class="page-link rounded-0" href="#">Next</a></li>-->
<!--                    </ul>-->

                </div>

            </div>

        </div>
    </div>


   {% include 'footer.html' %}
{% include 'js.html' %}
</body>


<!-- Mirrored from nilethemes.com/html/tabib/blog-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 06 Mar 2020 16:38:25 GMT -->
</html>
