<!DOCTYPE html>
<html lang="en-US">
{% load static %}
{% include 'head.html' %}
<body>
    {% include 'navigation.html' %}
    <!-- // Header  -->

    <div id="page-title" class="padding-tb-30px gradient-white">
        <div class="container">
            <ol class="breadcrumb opacity-5">
                <li><a href="#">Home</a></li>
                <li><a href="#">Article</a></li>
            </ol>
            <h1 class="font-weight-300">Article</h1>
        </div>
    </div>


    <div class="margin-tb-30px">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="border-radius-10 background-white  margin-bottom-35px padding-30px">
                        <h4><i class="fas fa-file-alt margin-right-10px text-main-color"></i> {{article.title}}</h4>
                        <hr>

                        <div class="meta">
                            <span class="margin-right-20px text-extra-small">By :  <a href="#">{{article.author}}</a></span>
                            <span class="margin-right-20px text-extra-small">Date :  <a href="#">{{article.datetime}}</a></span>
                        </div>
                        <hr>

                        <div class="thumbnail margin-bottom-20px"><img src="{{article.image.url}}" alt=""></div>
                        <div class="entry-content">
                            {{article.article|safe}}
                        </div>
                        <!-- .entry-content -->

                        <!-- Post tags -->
                        <hr>
<!--                        <div class="post-tags">-->
<!--                            <a href="#" rel="tag">chemicals</a>-->
<!--                            <a href="#" rel="tag">chemicals</a>-->
<!--                            <a href="#" rel="tag">chemicals</a>-->
<!--                            <a href="#" rel="tag">chemicals</a>-->
<!--                            <a href="#" rel="tag">chemicals</a>-->
<!--                            <a href="#" rel="tag">chemicals</a>-->
<!--                            &lt;!&ndash; // Post tags &ndash;&gt;-->
<!--                        </div>-->
                    </div>

    <!--                    <div class="margin-bottom-30px">-->
    <!--                        <div class="padding-30px background-white border-radius-10">-->
    <!--                            <h4><i class="fas fa-comment-alt margin-right-10px text-main-color"></i> Comments (3)</h4>-->
    <!--                            <hr>-->

    <!--                            <ul class="commentlist padding-0px margin-0px list-unstyled text-grey-3">-->
    <!--                                <li class="border-bottom-1 border-grey-1 margin-bottom-20px">-->
    <!--                                    <img src="assets/img/testimonial-1.png" class="float-left margin-right-20px border-radius-60 margin-bottom-20px" alt="">-->
    <!--                                    <div class="margin-left-85px">-->
    <!--                                        <a class="d-inline-block text-dark text-medium margin-right-20px" href="#">Bakhita alrawi </a>-->
    <!--                                        <span class="text-extra-small">Date :  <a href="#" class="text-main-color">July 15, 2016</a></span>-->
    <!--                                        <p class="margin-top-15px text-grey-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>-->
    <!--                                    </div>-->
    <!--                                </li>-->
    <!--                                <li class="border-bottom-1 border-grey-1 margin-left-55px margin-bottom-20px">-->
    <!--                                    <img src="assets/img/testimonial-2.png" class="float-left margin-right-20px border-radius-60 margin-bottom-20px" alt="">-->
    <!--                                    <div class="margin-left-85px">-->
    <!--                                        <a class="d-inline-block text-dark text-medium margin-right-20px" href="#">Rabie Elkheir </a>-->
    <!--                                        <span class="text-extra-small">Date :  <a href="#" class="text-main-color">July 15, 2016</a></span>-->
    <!--                                        <p class="margin-top-15px text-grey-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>-->
    <!--                                    </div>-->
    <!--                                </li>-->
    <!--                                <li class="border-bottom-1 border-grey-1 margin-bottom-20px">-->
    <!--                                    <img src="assets/img/testimonial-3.png" class="float-left margin-right-20px border-radius-60 margin-bottom-20px" alt="">-->
    <!--                                    <div class="margin-left-85px">-->
    <!--                                        <a class="d-inline-block text-dark text-medium margin-right-20px" href="#">Adel Alsaeed </a>-->
    <!--                                        <span class="text-extra-small">Date :  <a href="#" class="text-main-color">July 15, 2016</a></span>-->
    <!--                                        <p class="margin-top-15px text-grey-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>-->
    <!--                                    </div>-->
    <!--                                </li>-->
    <!--                            </ul>-->
    <!--                        </div>-->
    <!--                    </div>-->

<!--                    <div class="margin-bottom-30px">-->
<!--                        <div class="padding-30px background-white border-radius-10">-->
<!--                            <h4><i class="fas fa-comment-alt margin-right-10px text-main-color"></i> Add Comment</h4>-->
<!--                            <hr>-->
<!--                            <form>-->
<!--                                <div class="form-row">-->
<!--                                    <div class="form-group col-md-6">-->
<!--                                        <label>Full Name</label>-->
<!--                                        <input type="text" class="form-control" id="inputName4" placeholder="Name">-->
<!--                                    </div>-->
<!--                                    <div class="form-group col-md-6">-->
<!--                                        <label>Email</label>-->
<!--                                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group">-->
<!--                                    <label>Comment :</label>-->
<!--                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comment"></textarea>-->
<!--                                </div>-->
<!--                                <a href="#" class="btn-sm btn-lg btn-block background-main-color text-white text-center font-weight-bold text-uppercase border-radius-10 padding-10px">Add Now !</a>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
                    
                </div>

                <div class="col-lg-4">

<!--                    <div class="margin-bottom-30px">-->
<!--                        <div class="padding-30px background-white border-radius-10">-->
<!--                            <h4><i class="fas fa-search margin-right-10px text-main-color"></i> Search</h4>-->
<!--                            <hr>-->
<!--                            <div class="input-group mb-3">-->
<!--                                <input type="text" value="Search..." class="form-control border-radius-0">-->
<!--                                <div class="input-group-append">-->
<!--                                    <button class="btn btn-outline-secondary text-white background-main-color border-radius-0" type="button">Search</button>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="widget widget_categories">-->
<!--                        <div class="margin-bottom-30px">-->
<!--                            <div class="padding-30px background-white border-radius-10">-->
<!--                                <h4><i class="far fa-folder-open margin-right-10px text-main-color"></i> Categories</h4>-->
<!--                                <hr>-->
<!--                                <ul>-->
<!--                                    <li><a href="#">Tech</a></li>-->
<!--                                    <li><a href="#">Gallary</a></li>-->
<!--                                    <li><a href="#">UI Design </a></li>-->
<!--                                    <li><a href="#">Shop</a></li>-->
<!--                                    <li><a href="#">Wordpress  </a></li>-->
<!--                                    <li><a href="#">Cultur</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="widget widget_categories">-->
<!--                        <div class="margin-bottom-30px">-->
<!--                            <div class="padding-30px background-white border-radius-10">-->
<!--                                <h4><i class="fab fa-instagram margin-right-10px text-main-color"></i> Instagram</h4>-->
<!--                                <hr>-->
<!--                                <div class="row">-->
<!--                                    <div class="col-6 margin-bottom-20px"><a href="#"><img class="border-radius-10" src="assets/img/instagram-1.jpg" alt=""></a></div>-->
<!--                                    <div class="col-6 margin-bottom-20px"><a href="#"><img class="border-radius-10" src="assets/img/instagram-2.jpg" alt=""></a></div>-->
<!--                                    <div class="col-6 margin-bottom-20px"><a href="#"><img class="border-radius-10" src="assets/img/instagram-3.jpg" alt=""></a></div>-->
<!--                                    <div class="col-6 margin-bottom-20px"><a href="#"><img class="border-radius-10" src="assets/img/instagram-4.jpg" alt=""></a></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                </div>
            </div>

        </div>
    </div>


     {% include 'footer.html' %}
     {% include 'js.html' %}

</body>


<!-- Mirrored from nilethemes.com/html/tabib/blog-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 06 Mar 2020 16:38:51 GMT -->
</html>
