<head>
    {% load static %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164776239-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-164776239-1');
    </script>

    <title>PDoc</title>
    <meta name="author" content="Nile-Theme">
    <meta name="robots" content="index follow">
    <meta name="googlebot" content="index follow">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="directory, doctor, doctor directory, Health directory, listing, map, medical, medical directory, professional directory, reservation, reviews">
    <meta name="description" content="Health Care & Medical Services Directory">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800%7Chttps://fonts.googleapis.com/css?family=Open+Sans:400,600,800%7CPoppins:300i,300,400,700,400i,500%7CDancing+Script:700%7CDancing+Script:700" rel="stylesheet">
    <!-- animate -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}" />
    <!-- owl Carousel assets -->
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet'">
    <link href="{% static 'css/owl.theme.css' %}" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- hover anmation -->
    <link rel="stylesheet" href="{% static 'css/hover-min.css' %}">
    <!-- flag icon -->
    <link rel="stylesheet" href="{% static 'css/flag-icon.min.css' %}">
    <!-- main style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- colors -->
    <link rel="stylesheet" href="{% static 'css/colors/main.css' %}">
    <!-- elegant icon -->
    <link rel="stylesheet" href="{% static 'css/elegant_icon.css' %}">

    <!-- jquery library  -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <!-- fontawesome  -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <style>
        a:hover {
            color:#0864b2;
            text-decoration : underline;
        }

    </style>


</head>
