{% load static %}
<header class="background-white box-shadow">
        <div class="container header-in">
                <div class="row">
                    <div class="col-lg-2 col-md-12">
                        <div id="logo" class="d-inline-block margin-tb-10px"  style="font-size:18px;color:#007bff;"><img src="{% static 'logo.png' %}" style="max-width:50%;" alt="pdoc"> PDoc</div>
                        <a class="mobile-toggle padding-13px background-main-color" href="#"><i class="fas fa-bars"></i></a>
                    </div>
                    <div class="col-lg-7 col-md-12 position-inherit">
                        <ul id="menu-main" class="nav-menu float-lg-right link-padding-tb-20px">
<!--                            <li><a href="{% url 'index' %}">Home</a></li>-->
                            <li><a href="{% url 'index' %}">Doctors</a></li>
                            <li><a href="{% url 'doctors_over_call' %}">Doctors-Over-Call</a></li>
                            <li><a href="{% url 'important_links' %}">Important Links</a></li>
                            <li class="has-dropdown"><a href="#">Paramdeics Signup</a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'paramedic_health_and_fitness_advisor' %}">Health & Fitness Advisors </a></li>
                                    <li><a href="{% url 'paramedic_physiotherapy' %}">Physiotherapist</a></li>
                                    <li><a href="{% url 'paramedic_clinical_pscyhiatry' %}">Clinical Psychiatry</a></li>
                                    <li><a href="{% url 'paramedic_yoga_guru' %}">Yoga Guru</a></li>
                                    <li><a href="{% url 'paramedic_drug_house' %}">Drug House</a></li>
                                    <li><a href="{% url 'paramedic_diagnostics' %}">Diagnostics</a></li>
                                </ul>
                            </li>
<!--                            <li><a href="#">Conact Us</a></li>-->
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <hr class="margin-bottom-0px d-block d-sm-none">
                        <a href="{% url 'signup_customer' %}" class="btn btn-sm border-radius-30 margin-tb-15px text-white background-second-color  box-shadow float-right padding-lr-20px margin-left-30px">
                            Patient Signup
                        </a>
                        <a href="{% url 'doctor_registration' %}" class="margin-tb-20px d-inline-block text-up-small float-left float-lg-right"><i class="fas fa-stethoscope"></i>  Join Us</a>
                    </div>
                </div>

        </div>
    </header>
